.underlined-link {
    //@include underlined-link-base;
  
    padding: 0;
    border: none;
    background: none;
    font-weight: 600;
    color: $grey-dark;
    cursor: pointer;
  
    &:hover, &:focus, &:active {
      //@include underlined-link-hover;
    }
  
    &--invert-colors {
      &::before {
        background-color: $underlineRestingColor;
      }
  
      &::after {
        background-color: $underlineHoverColor;
      }
    }
  
    &--hover-only {
      &::before {
        transform-origin: 100% 0;
        transition-property: transform;
        transition-delay: initial;
      }
  
      &::after {
        content: none;
      }
  
      &:hover, &:focus, &:active {
        &::before {
          transform-origin: 0 0;
        }
      }
    }
  
    &--green {
      //
    }
  
    &--grey {
      color: $grey-soft;
  
      &::before,
      &::after {
        background-color: $grey-soft;
      }
  
      &:hover, &:focus, &:active {
        color: $grey-soft;
      }
    }
  
    &--white {
      color: $white;
  
      &::before,
      &::after {
        background-color: $white;
      }
  
      &:hover, &:focus, &:active {
        color: $white;
      }
    }
  }
  
  .back-previous-page {
    display: table;
    position: relative;
    margin: 2rem 0;
    padding-left: 2.5rem;
    font-weight: 600;
    color: $grey-soft;
    text-decoration: none;
  
    &::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 50%;
      left: .5em;
      border: solid;
      border-width: .4em .4em 0 0;
      font-size: 1rem;
      color: $orange;
      transform: translateY(-.7em) rotate(-135deg) translateZ(0);
    }
  
    &:hover, &:focus, &:active {
      color: inherit;
    }
  }
  
  .pnab-link {
    font-weight: 600;
    color: $green;
    text-decoration: none;
  
    &:hover, &:focus, &:active {
      color: $green;
      text-decoration: underline;
    }
  }
  
  