<div class="rbt-container">
  <div class="homeBanner rbt-container__wrapper" style="background-image:'url(assets/images/gluepuller/glue-puller-banner.jpg)';">
    <span class="homeBanner__title">
      {{'GLUEPULLER.BANNER_TITLE' | transloco}}
    </span>

    <span class="homeBanner__subTitle">
      {{'GLUEPULLER.BANNER_SUBTITLE' | transloco}}
    </span>
  </div>
</div>

<div class="rbtBenefit">
  <div class="rbtBenefit__items">
    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-security.png" alt="sécurité" />
        </span>
        <span class="rbtBenefit__itemTitle">Confort</span>
        <span class="rbtBenefit__itemDescription">Le compagnon reste en position debout. Ne laisse pas passer de surépaisseur de colle, la quantité de colle appliquée est constante, et ce sans contrepoids ou effort additionnel, grâce à l'angle d'appuis du peigne. La colle à étaler peut être mise au sol en dehors de la zone du cadre.</span>
      </div>  
    </div>

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-precision.png" alt="précision" />
        </span>
        <span class="rbtBenefit__itemTitle">Précision</span>
        <span class="rbtBenefit__itemDescription">Nos tires colle favorisent une bonne distribution de la colle grâce à l'angle de chasse du peigne. La largeur d'application de la colle correspond au format du carrelage. Le marquage au sol n'est pas nécessaire.</span>
      </div>  
    </div>

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-rapidity.png" alt="rapidité" />
        </span>
        <span class="rbtBenefit__itemTitle">Rapidité</span>
        <span class="rbtBenefit__itemDescription">Nos tires colle express offrent aux compagnons une application 4 fois plus rapide qu'avec un platoir.</span>
      </div>
    </div>

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-simplicity.png" alt="simplicité" />
        </span>
        <span class="rbtBenefit__itemTitle">Simplicité</span>
        <span class="rbtBenefit__itemDescription">Montage et démontage simple et rapide du peigne pour le nettoyage ou changement de profil. Un cadre par largeur, différents profils de peignes interchangeables pour chaque largeur. Utilisation possible de l'outil en le tirant ou en le poussant. Le manche reste stable en position verticale.</span>
      </div>
    </div>

  </div>
</div>

<div class="rbt-title">
  <h3 class="h3-title blue-color">
    Pour les grands formats, disponibles en différentes largeurs de 60cm à 1 m
  </h3>
</div>

<div class="row rbt-container">
  <div class="col-md-6">
    <figure class="rbt-figure">
      <img src="assets/images/gluepuller/glue-puller-manual.jpg" alt="pose sans tire colle" class="rbt-image" />
      <figcaption>Pose sans Tire colle</figcaption>
    </figure>  
  </div>
  <div class="col-md-6 d-flex">
    <video loop muted playsinline controls class="w100">
      <source src="assets/videos/glue-puller.mp4" type="video/mp4" /> Ici l'alternative à la vidéo : un lien de
        téléchargement, un message, etc.
        
        <span class="legend">Pose sans Tire colle</span>
    </video>
  </div>
</div>

<div class="rbt-title">
  <h3 class="h3-title orange-color">
    Précision, confort et rapidité
  </h3>
  <p>Optez pour un outil adapté à chaque largeur d'encollage. Une fabrication française, robuste, durable et facile d'utilisation pour la santé de vos compagnons.</p>
</div>

<div class="rbtNews">
  <div class="rbtNews__wrapper -auto">
    <div class="rbtNews__left -media">
      <img src="assets/images/gluepuller/tce-600.jpg" alt="TCE 600" />
    </div>
    <div class="rbtNews__right -content -noBackground">
      <div class="rbtNews__content">
        <div class="rbtNews__contentTitle">
          <a href="assets/pdf/tire-colle-fiche-technique.pdf" target="_blank" 
          type="application/octet-stream" download="tire-colle-fiche-technique.pdf">
            Téléchargez la fiche techniques et la grille tarifaire
         </a>
        </div>
        <div class="rbtNews__contentDescription">
          <p>Largeurs d'encollage disponibles (mm): 600 - 700 - 750 - 800 - 900 - 1000</p>
          <p>Profils disponibles (mm): <br/>
          Carré 10x10x10 (U10),<br/>
          Demi-lune 10x10x20 (R10)<br/>
          Demi-lune 8x10x20 <br/>
          Autres profils sur commande<br/><br/> </p>
          
         <p><strong>* Tire colle livré sans manche.</strong> Son utilisation nécessite un manche en bois de 28mm de diamètre et de la longueur souhaitée.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rbt-title">
  <h3 class="h3-title blue-color">
    Tires colle express: Une fabrication robuste, durable, 100% française et 100% inox
  </h3>
  <p> <a class="rbt-btn -gold -auto" routerLink="/contact">Commander</a></p>
</div>
