<div class="rbt-container">
  <div class="homeBanner rbt-container__wrapper" style="background-image:'url(assets/images/carlita/carlita-sante-securite.jpg)';">
    <span class="homeBanner__title">
      {{'CARLITA.BANNER_TITLE' | transloco}}
    </span>

    <span class="homeBanner__subTitle">
      {{'CARLITA.BANNER_SUBTITLE' | transloco}}
    </span>

    <button class="homeBanner__btn rbt-btn -gold" routerLink="/contact">
      Demander une démo
    </button>
  </div>
</div>

<div class="rbtBenefit">
  <div class="rbtBenefit__items">
    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-security.png" alt="sécurité" />
        </span>
        <span class="rbtBenefit__itemTitle">Confort</span>
        <span class="rbtBenefit__itemDescription">L'utilisateur travaille debout, sans efforts physiques. La charge à poser est en apesanteur grâce au contre-poids. Carlita ne nécessite qu'un seul utilisateur.</span>
      </div>  
    </div>
    

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-precision.png" alt="précision" />
        </span>
        <span class="rbtBenefit__itemTitle">Précision</span>
        <span class="rbtBenefit__itemDescription">Carlita permet de conserver sur la durée un geste précis, sans fatigue. Décollez facilement et sans casse un élément, qui vient d'être posé.</span>
      </div>  
    </div>

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-rapidity.png" alt="rapidité" />
        </span>
        <span class="rbtBenefit__itemTitle">Rapidité</span>
        <span class="rbtBenefit__itemDescription">Pose de carrelage multi-formats, de 1 à 4 éléments à la fois. Parfaitement adaptée pour les grandes surfaces. Prise en charge d'éléments de 900 à 10.000cm².</span>
      </div>
    </div>

    <div class="rbtBenefit__item">
      <div class="rbtBenefit__itemWrapper">
        <span class="rbtBenefit__itemImg">
          <img src="assets/icons/icon-mobility.png" alt="mobilité" />
        </span>
        <span class="rbtBenefit__itemTitle">Mobilité</span>
        <span class="rbtBenefit__itemDescription">5 minutes pour le montage et démontage de la machine. Carlita est nomade et entre dans un véhicule type break. La machine fonctionne sur batterie et/ou sur secteur.</span>
      </div>
    </div>

  </div>
</div>

<div class="rbt-title">
  <h3 class="h3-title blue-color">
    Pose, encollage et décollage en restant debout
  </h3>
</div>

<div class="row rbt-container">
  <div class="col-md-6">
    <figure class="rbt-figure">
      <img src="assets/images/carlita/pose-alone.jpg" alt="pose sans carlita" class="rbt-image" />
      <figcaption>Pose sans carlita</figcaption>
    </figure>  
  </div>
  <div class="col-md-6">
    <figure class="rbt-figure">
      <img src="assets/images/carlita/pose-with-carlita.png" alt="pose avec carlita" class="rbt-image" />
      <figcaption class="right">Pose avec carlita</figcaption>
    </figure>  
</div>
</div>

<div class="rbtNews -full rbt-container">
  <div class="rbtNews__wrapper -full">
    <div class="rbtNews__contentWrapper -small -noBackground">
      <div class="rbtNews__content">
        <p class="rbtNews__contentTitle -blue">Option double encollage</p>
        <div class="rbtNews__contentDescription">
          <p>Kit, en option, permet de <strong>réaliser un double encollage.</strong></p>
          <p>Le compagnon carreleur bénéficie ainsi d'une posture de travail idéale. </p>
        </div>
      </div>
    </div>

    <div class="rbtNews__media -big">
      <img src="assets/images/carlita/double-encollage.jpg" alt="double encollage" />
    </div>
  </div>
</div>

<div class="rbtNews">
  <div class="rbtNews__wrapper -auto">
    <div class="rbtNews__left -media">
      <img src="assets/images/carlita/vue-eclate.png" alt="carlita vue eclate" />
    </div>
    <div class="rbtNews__right -content -noBackground">
      <div class="rbtNews__content">
        <p class="rbtNews__contentTitle">
          <a href="assets/pdf/carlita-fiche-technique.pdf" target="_blank" 
          type="application/octet-stream" download="carlita-fiche-technique.pdf">Téléchargez la fiche complète des caractéristiques techniques</a>
        </p>
        <p class="rbtNews__contentDescription">
          Prise en charge d'éléments de 900 à 10.000cm² Pose de carrelage et dallage jusqu'à 30kg par éléments Adapté à du carrelage multi-formats avec 1 à 4 éléments à la fois.
        </p>
        <!--<div class="rbtNews__contentBtn">
          <a class="rbt-btn rbt-btn--gold -empty" href="">
            <img src="assets/images/carlita/vue-eclate.jpg" alt="carlita vue eclate" />
          </a>
        </div>-->
      </div>
    </div>
  </div>
</div>

<div class="rbtNews -half -column rbt-container">
  <div class="rbtNews__media -full">
    <video loop muted playsinline controls class="w100">
      <source src="assets/videos/carlita-pose.mp4" type="video/mp4" /> Ici l'alternative à la vidéo : un lien de
        téléchargement, un message, etc. 
    </video>
  </div>
  <div class="rbtNews__content">
    <h3 class="h3-title orange-color">Solution clé en main</h3>
    <div class="rbtNews__contentDescription">
      <p>Formation de vos équipes à l'utilisation de la machine. <br/>
        Commande de pièces de rechange et expédition.<br/>
      </p>    
    </div>
    
  </div>
</div>

