// Actual style
.footer {
  $namespace: &;

  margin: 0;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0 0 0;
  background: $grey;
  flex-wrap: wrap;

  @include breakpoint(m) {
    flex-wrap: nowrap;
    padding: 5rem 0 0 0;
  }

  &__top {
    width: 100%;
    background: $grey;
    padding: 20px;

    @include breakpoint(m) {
      padding: 80px 20px 50px 40px;
    }
  }

  &__topTitle {
    color: $black;
    font-size: rem-calc(25);
    font-weight: 700;
    display: block;
    margin: 20px 0;
  }

  &__topTxt {
    margin-top: 30px;
  }

  &__topIcon {
    > img {
      width: 80px;
    }
   
  }

  &__bottom {
    padding: 20px 20px 50px 40px;
    color: $white;
    margin-top: 2rem;
    text-transform: uppercase;
    background: $blue;
    display: flex;
    align-items: flex-start;
  }

  &__bottomLink {
    color: $white;
    text-transform: lowercase;

    &:hover {
      color: currentColor;
    }
  }
}

.social-share {
  display: flex;
  align-items: center;
  justify-content: center;
  &__label {
    color: $white;
    margin-right: 2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &-item {
      background: $orange;
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      display: flex;
      margin: 0 .5rem;
    }
    
    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-decoration: none;

      i {
        color: $white;
      }
    }
  }
}
