<header class="page-header" id="header">
  <button class="page-header__burger">
    <span class="page-header__burger-icon"></span>
  </button>
  <div class="page-header__logo">
    <a class="page-header__btn" data-href="home" href="#">
      <img alt="logo robotile" src="assets/images/logo-robotile.png" title="logo robotile">
    </a>
  </div>
  <div class="page-header__nav">
    <a class="page-header__btn" data-href="carlita" href="#">
      <span class="page-header__btn-text">Carlita ®</span>
    </a>
    <a class="page-header__btn" data-href="contact" href="#">
      <span class="page-header__btn-text">Contactez-nous</span>
    </a>
    <select class="select-css">
      <option value="fr">Français</option>
      <option value="en-US">English</option>
    </select>
  </div>
</header>
